:root {
    --background-dark: #1e293b;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: var(--background-dark);
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #dfdede;
  text-align: center;
  flex-direction: column;
  overflow: hidden;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.hero {
  margin-top: 50px; 
  text-align: center;
  z-index: 1;
  position: relative;
}

.hero h1 {
  font-size: 50px;
  font-style:normal;
  margin-top: 5px;
  text-shadow: #000000 2px 4px 5px;
}

.hero p {
  font-size: 20px;
  color: #bebbbb;
  font-style: italic;
  text-shadow: #000000 1px 2px 5px;
}

.login-btn {
  background: linear-gradient(135deg, #4a90e2, #357ABD);
  color: white;
  padding: 12px 28px;
  text-decoration:none;
  font-weight: bold;
  border-radius: 6px;
  transition: 0.3s;
  display: inline-block;
  margin-top: 20px;
  box-shadow: #1e2a3d 0 2px 2px;
}

.login-btn:hover {
background: linear-gradient(135deg, #4a91e2c5, #3579bdbb);
color: white;
}

#loading-screen {
  position: fixed;
  inset: 0;
  background-color: #f1f2f6; /* light background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

#loading-screen.fade-out {
  opacity: 0;
  visibility: hidden;
}

.loading-logo {
  width: 120px; /* adjust size as you like */
  height: auto;
  animation: fadeInOut 1.8s ease-in-out infinite;
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0.3; transform: scale(0.95); }
  50% { opacity: 1; transform: scale(1); }
}